header, nav{
    padding: 4px 6px;
    margin: 10px;
}
nav ul li {
    background-color: #ECFF4D;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
    font-size: large;
}

body {
    padding: 10px;
    font-size: 125%;
}

h1 {
    font-size:36px;
    color: black
}

h2 {
    font-size: 25px;
    color:black;
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    font-size: 30px;
}

.skip{
    position: absolute;
    left: -1000px;
}

.skip:focus{
    position:relative;
    left: 0px;
}

.active {
    color:red;
    border: solid 5px;
    font-weight: bold;
}

footer{
}

@media screen and (min-width: 0px) {
    
    .column{
        display: flex;
        flex-wrap: wrap;
    }

    main img{
        padding: 5px;
        border: solid 1px;
        margin: 5px;
        border: 2px solid;
        border-radius: 30px;
    }

    img.indexpg{
        display: none;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position:relative;
    }

    .topnav #myLinks{
        display: none
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: xx-large;
        display: block;
    }

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media screen and (min-width: 680px) {
    img{

    }
}

@media screen and (min-width: 820px) {


    img{
        display: flex;
    }
}